.body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

body::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.matha {
    min-height: 100vh;
    width: 100%;
    background-image: url(nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

nav {

    /* border-radius: 35px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topleft {
    display: flex;
    height: 70px;
    width: 70px;
    padding: 10px;
    margin-left: 35px;
}

.topright {
    display: flex;
    list-style: none;
    margin-right: 30px;
    color: white;


}

nav ul li {
    margin: 10px 20px;
    list-style: none;
    display: inline-flex;
    font-size: 18px;
}

.searchbar {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    width: 400px;
    top: 45%;
    left: 7%;
    border-radius: 30px;
    backdrop-filter: blur(2px) saturate(150%);
}

.sar {
    outline: none;
    border: none;
    background: none;
    float: right;
    justify-content: center;
    align-items: center;
    /* justify-content: center;
    align-items: center; */

}

.searchbar button {
    cursor: pointer;
}

.searchbar button svg {
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;

    /* background: transparent; */
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    width: 60%;
    font-size: 14px;
    float: left;
    padding: 10px 30px;
    /* transition: 0.4s; */
    line-height: 35px;
    color: white;
}

.search input::placeholder {
    color: #cac7ff;


}

.heading {
    /* background-color: red; */
    display: block;
    float: right;
    width: 450px;
    margin-top: 7%;
    margin-right: 3%;

}

.heading h1 {
    color: white;
    font-size: 40px;
}

.heading h5 {
    color: #d7d5d5;
    position: absolute;
    margin-top: -2%;
}

.gola {
    min-height: 200vh;
    width: 100%;
}

.mainbox {
    background-color: red;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.box1 :hover {
    background-color: #2b2b2b;
    border-radius: 20px;
    border: 50px, solid, white;
}

a h2 :active {
    text-decoration: none;
}

.box1 {
    display: flex;
    float: left;
    width: 45%;
    background-color: rgb(0, 0, 0);
    /* justify-content: top;
    align-items: top; */
    border-radius: 20px;
    min-height: 100vh;
    margin-left: 3%;

}

.box1 h2 {
    /* width:200px;
    margin: auto;
    margin-top: 20px; */
    /* background-color: red; */
    text-align: center;
    color: white;
    margin-top: 60px;


}

.box1 p {
    /* background-color: red; */
    text-align: center;
    /* width: 400px; */
    padding: 10px 60px;
    color: white;
    margin-top: -20px;


}

.box2 :hover {
    background-color: #2b2b2b;
    border-radius: 20px;
}

.box2 {
    display: flex;
    float: right;
    width: 45%;
    background-color: rgb(0, 0, 0);
    /* justify-content: center;
    align-items: center; */
    border-radius: 20px;
    min-height: 100vh;
    margin-right: 3%;

}

.box2 h2 {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.box2 p {
    text-align: center;
    padding: 10px 60px;
    color: white;
    margin-top: -20px;
}

.box3 {
    display: flex;
    float: left;
    width: 45%;
    background-color: rgb(0, 0, 0);
    /* justify-content: center;
    align-items: center; */
    border-radius: 20px;
    min-height: 100vh;
    margin-left: 3%;

}

.box3 h2 {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.box3 p {
    text-align: center;
    padding: 10px 60px;
    color: white;
    margin-top: -20px;
}

.box3 :hover {
    background-color: #2b2b2b;
    border-radius: 20px;
}

.box4 {
    display: flex;
    float: right;
    width: 45%;
    background-color: rgb(0, 0, 0);
    /* justify-content: center;
    align-items: center; */
    border-radius: 20px;
    min-height: 100vh;
    margin-right: 3%;

}

.box4 h2 {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.box4 p {
    text-align: center;
    padding: 10px 60px;
    color: white;
    margin-top: -20px;
}

.box4 :hover {
    background-color: #2b2b2b;
    border-radius: 20px;
}

.boximg1 {
    /* background-color: red; */
    width: 100%;
    height: 350px;
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;

}

.boximg2 {
    /* background-color: red; */
    width: 100%;
    height: 350px;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 8%;

}

.boximg3 {
    /* background-color: red; */
    width: 100%;
    height: 350px;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 12%;

}

.boximg4 {
    /* background-color: red; */
    width: 100%;
    height: 250px;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20%;

}

.gen2 {
    margin-top: 100px;
}

.scrollbox {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    padding-left: 11%;
    padding-right: 15%;
    margin-top: 20px;

}

.scrollbox::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.jobs1 {
    background-color: rgba(42, 42, 42, 0.658);
    display: inline-block;
    height: 470px;
    max-width: 380px;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    border-radius: 40px;
    overflow-x: hidden;
    padding: 0px 10px;
    margin: 0px 25px;
    overflow-y: hidden;
    box-shadow: 2px 4px 12px rgba(140, 140, 140, 0.696);
}

.jobs1 img {
    width: 100%;
    height: 300px;
    width: 380px;
    justify-content: center;
    text-align: center;
    border-radius: 17px;
}

.jobs1 h1 {
    font-size: 15px;
    padding: 0px 10px;
    color: white;
    margin-top: 30px;

}

.jobs1 p {
    font-size: 11px;
    padding: 0px 10px;
    opacity: 0.6;
    color: white;
}

/* .scrollbox :hover{
    transform: scale(1.02);
} */

.sclhead {
    color: white;
    font-size: 26px;
    margin-left: 6%;
    padding: 10px;
}

.hd1 {
    display: inline;
}

.hd2 {
    margin-left: 7px;
    font-size: 36px;
    color: #8e8e8e;

}


.gen3 {
    margin-top: 100px;
}

.jobs2 {
    background-color: rgba(42, 42, 42, 0.658);
    display: inline-block;
    height: 570px;
    max-width: 350px;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    border-radius: 40px;
    padding: 0px 10px;
    margin: 0px 30px;
    box-shadow: 2px 4px 12px rgba(140, 140, 140, 0.696);
}

.jobs2 h1 {
    color: white;
}

.jobs2 p {
    color: white;
}
.jobs2 img{
    height: 100px;
    width: 150px;
}
.gen4{
    margin-top: 80px;
}
.dbox {
    height: 400px;
    width: 80%;
    background-color: white;
    color: wheat;
    margin: auto;
    border-radius: 40px;
}

.dboxrt {
    /* float: left; */
    /* background-color: red; */
    display: block;
   
}

.dboxlt {
    float: right;
    /* background-color: rgb(0, 255, 64); */
    display: block;

}